body {
    margin: 0;
    height: 100vh;
    background-color: #0f172a;  /* dark blue background */

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card {
    background-color: #1e293b;  /* dark card */
    width: 400px;
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #6366f1; /* purple border */
    margin-bottom: 20px;
}

.name {
    margin: 10px 0;
    font-size: 24px;
}

.role {
    font-weight: normal;
    color: #94a3b8;
    font-size: 16px;
    margin-bottom: 15px;
}

.text {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 20px;
}

.connect {
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons button {
    background-color: #6366f1;
    border: none;
    color: white;
    padding: 8px 14px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons button:hover {
    background-color: #ce0a0a;
}